mirrors:
  ${gcp_region}-docker.pkg.dev:
    endpoint:
      - "https://${gcp_region}-docker.pkg.dev"
configs:
  ${gcp_region}-docker.pkg.dev:
    auth:
      username: _json_key
      password: '${gcp_credentials}'
